@media (min-width: 576px){
    .modal-dialog {
        max-width: 60%!important;
        margin: 1.75rem auto;
    }
}

.modal-dialog {
    width:60%!important;
    max-width: 60%!important;
    margin: 1.75rem auto;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#upload {
    text-align: center;
    color: grey;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 20px;
    width: 100%;
}

#label, #fileSelector {
    text-align: center;
    margin-left: 38%;
    color: grey;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 18px;
}

.pushCodeFirstStep {
    margin-left: 20%;
    margin-right: 20%
}

.btn-primary {
    margin: 1% 40% 1% 40%;
    text-align: center;
    width: 20%;
    text-transform: uppercase;
}

#tag {
    text-align: center;
}