<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:include=":: #pageTitle">STORM Review Platform</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >

    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css"/>

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  ></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  ></script>  

    <!-- Bootstrap core CSS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <!-- Custom styles for this template -->
    <link href="/css/common/hover-effect.css" rel="stylesheet" type="text/css"/>
    <link href="/css/common/scrolling-nav.css" rel="stylesheet" type="text/css"/>
</head>