<!DOCTYPE html>
<html>
    <head>
        <title>Graphs example</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/dashboard/style.css">
        <script src="/js/dashboard/D3/d3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        <script src="/js/dashboard/Data/loadScrumMaster.js"></script>
    </head>

    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container mainGrid">
            <div class="row justify-content-md-center">
                <div class="col-sm-auto">
                    <h2>Scrum Master Dashboard</h2>
                </div>
            </div>
            <div class="row justify-content-md-center"><!--Selecet Period row-->
                <div class="col-sm-auto">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Period
                    </a>
                    <!--To populate dropdown menu use .sprintPeriod -->
                    <div class="dropdown-menu sprintPeriod" aria-labelledby="dropdownMenuLink"></div>
                </div>
                <div class="col-sm-auto">
                    <h3 id="selectedPeriod">Selected period:</h3>
                </div>
            </div><!--End Selecet Period row-->

            <div class="row justify-content-md-center">
                <div class="col-sm-auto">
                    <h3>Manage Current Sprint</h3>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-sm-auto ">
                    <h5>Set Sprint Goal : </h5>
                </div>
                <div class="col-sm-auto">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control sprintGoalTxt" pattern="^[1-9][0-9]?$|^100$">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary setSprintGoal" type="button" >Button</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-sm-auto">
                    <h3>Team results</h3>
                </div>
            </div>

            <div class="row justify-content-md-center"> <!--Charts row -->
                <div class="col-sm-auto timeSeries"></div>
                <div class="col-sm-auto pieChart"></div>
            </div><!--End charts row -->

            <div class="row justify-content-md-center"> <!--users table row to populate header use .userTable #tableHead-->
                <div class="col-sm-auto">
                    <table class="table usersTable">
                        <thead>
                            <tr class="text-sm-center">
                                <th scope="col">\</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm-center">
                            <tr id="filesUploaded">
                                <td>Number of files uploaded :</td>
                            </tr>
                            <tr id="filesReviewed">
                                <td>Number of files reviewed :</td>
                            </tr>
                            <tr id="userBadges">
                                <td>User badges :</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--End users table row -->
        </div><!--End container -->
        <div th:replace="fragments/footer :: footer"></div>
    </body>

    <script src="/js/dashboard/timeSeries.js"></script>
    <script src="/js/dashboard/pieChart.js"></script>
    <script src="/js/dashboard/populateScrumMaster.js"></script>
</html>
